<h1>Benvenuti nel sito che parla di corsi e paesi</h1>

<div class="giochetti" [style.backgroundColor]="contatore>=4 ? 'lime' : 'lightgray'">
    <p>Ogni volta che <span (click)="incrementa()">clicchi qui</span> si incrementa il contatore</p>
    <p>{{ contatore }}</p>

</div>

<div class="giochetti" [ngStyle]="{
    'background-color': contatore > 2 ? 'purple' : 'darkgray',
    'color': contatore > 2 ? 'white' : 'black',
    'border' :          contatore > 3 ? '3px solid lime' : ''
}">
    <ng-template [ngIf]="contatore >= 4" [ngIfElse]="alternativo" >
        <input type="text" [(ngModel)]="paese">
        <p>Vuoi visitare il paese <span>{{ paese }}</span></p>
    </ng-template>

    <ng-template #alternativo>
        <p>Se sono mostrato vuol dire che contatore è minore di 4</p>
    </ng-template>
</div>
